@font-face {
    font-family: "Roboto";
    src: url("../font/Roboto-Medium.ttf");
    font-weight: 500;
}

body {
    font-family: "Roboto";
    height: 100vh;
}

header {
    padding-bottom: 144px;
}
a {
    color: black;
    text-decoration: none;
}

.fix-size {
    background-color: #EBEBEB;
    text-align: center;
}

li {
    display: inline-block;
}

li:not(first-child) {
    padding-left: 24px;
    padding-top: 79px;
}

h1 {
    font-size: 48px;
    line-height: 79px;
    padding-top: 70px;
}

h2 {
    font-size: 48px;
    line-height: 79px;
    padding-top: 70px;
}
p {
    margin-top: 60px;
    color: #727272;
}

button{
    width: 228px;
    height: 62px;
    margin-left: 418px;
    margin-top: 65px;
    background-color:#500E0A;
    border-radius: 7px;
    -webkit-box-shadow: 30px 30px 25px 1px rgba(80, 34, 54, 0.27); 
    -moz-box-shadow: 30px 30px 25px 1px rgba(80, 34, 54, 0.27); 
    box-shadow: 30px 30px 25px 1px rgba(80, 34, 54, 0.27);
    border: none;
}
.white-font{
    color: white;
}

.about-myself {
    background-color: white;
    padding-bottom: 50px;
}

.techlology_footer {
    display: inline-block;
    background-color: hsl(3, 78%, 18%);
    width: 100%;
}
.card {
    display: inline-block;
    padding-left: 70px;
    margin-top: 20px;
    padding-bottom: 40px;
}

img {
    height: 40x;
    width: 40px;
}

.card-info {
    display: inline-block;
    font-size: x-large;
    margin-top: auto;
    text-align: left;
    padding-left: 20px;
}

iframe {
    width:"560";
    height:"315";
}

footer>p {
    text-align: left;
    padding-bottom: 40px;
    padding-left: 40px;
}
